# Update stats workflow

# Run every day at 11:59 PM BDT (17:59 UTC), then add random delay
schedule:
  - cron: '59 17 * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Update Stats
        run: echo 'Updating stats...'